<h2 mat-dialog-title>About the Application8 demo</h2>
<mat-dialog-content style="line-height: 1.7rem;">
	<ul>
		<li>
			Application8 mimics a simple social media system using pubically available dummy data
		</li>
		<li>
			Everything is my original work (no borrowing from other places)
		</li>
		<li>
			Everything was done with Angular 6 (6.1.6), Typescript (2.7.2) and NodeJS (10.9.0)
		</li>
		<li>
			Everything uses Material Design for UI components exclusively
		</li>
		<li>
			Charts are dynamically created using hand-built D3.js(v4)
		</li>
		<li>
			The dummy data is available at https://jsonplaceholder.typicode.com/
		</li>
		<li>
			The data is dynamically retrieved in JSON using asynchronous REST calls
		</li>
		<li>
			The geolocation service is dynamically retrieved from http://ip-api.com/json
		</li>
		<li>
			Uses SCSS and Material Design color palettes
		</li>
		<li>
			Maps are built using Google Maps
		</li>
		<li>
			Settings are stored in the browser local store so they persist across sessions
		</li>
		<li>
			Everything is stored and managed in git
		</li>
		<li>
			It took around 1.5 weeks elapsed time (evenings and weekend)
		</li>
	</ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Done</button>
</mat-dialog-actions>