<mat-toolbar color="primary">

  <button [class.active]="toggleActive" (click)="toggleSidebar()" mat-icon-button>
    <i class="material-icons">menu</i>
    </button> &nbsp;  &nbsp; 

    {{globals.title}}
    <span class="fill-remaining-space"></span>
    <button mat-button>
    	<i class="material-icons">help</i> Help
	</button>

    <button mat-button>
        <i class="material-icons">search</i> Search
    </button>

<!-- here -->
    <button mat-button [matMenuTriggerFor]="usermenu">
         <i class="material-icons">expand_more</i> {{ globals.name}}
    </button>
    <mat-menu #usermenu="matMenu">
        <button mat-menu-item (click)="openDialog()">Settings</button>
        <button mat-menu-item>Logout</button>
    </mat-menu>
    
<!-- to here -->
</mat-toolbar>

<!--<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>
    -->