<mat-toolbar color="primary">
    <span>A6</span>
    <span class="fill-remaining-space"></span>
    <div class="mat-small">[ {{globals.theme}} ]</div>
    <button mat-button>
    	<i class="material-icons">help</i> Help
	</button>
    <button mat-button [matMenuTriggerFor]="settingsmenu">
    	<i class="material-icons">settings</i> Settings
    </button>
    <mat-menu #settingsmenu="matMenu">
	  <button mat-menu-item (click)="openDialog()">
	  		<i class="material-icons">face</i> My settings
	  </button>
	  <button mat-menu-item  (click)="openSysDialog()">
	  	<i class="material-icons">build</i> System settings
	  </button>
	</mat-menu>
	<button mat-button>
    	<i class="material-icons">search</i> Search
	</button>
    <button mat-button>
    	<i class="material-icons">exit_to_app</i>Log out
    </button>
</mat-toolbar>

