
<mat-grid-list cols="2" rowHeight="8:1">
		<mat-grid-tile style="text-align: left;">
			<div class="bogus">
				<h1 style="display: flex;align-items: center;"><i class="material-icons blue" style="font-size: 2.5rem !important ">list</i>&nbsp;{{todoMode}}&nbsp;To-Do's&nbsp;for {{persons[selectedID].name}}</h1>
			</div>
		</mat-grid-tile>
		<mat-grid-tile>
			
			<mat-form-field class="mobogus">
				<mat-select [(value)]="selectedID">
				    <mat-option *ngFor="let person of persons" [value]="person.id">
				     	{{person.name}}
				    </mat-option>
				</mat-select>
				<mat-hint>Filter person</mat-hint>
			</mat-form-field>

			<mat-radio-group [(ngModel)]="todoMode">
		       <mat-radio-button value="All" class="mat-primary">All </mat-radio-button> &nbsp;
		       <mat-radio-button value="Completed">Completed </mat-radio-button> &nbsp;
		       <mat-radio-button value="Open">Open </mat-radio-button>
		    </mat-radio-group>
		</mat-grid-tile>
</mat-grid-list>

	

<div>
	<mat-grid-list cols="3" rowHeight="2.5:1">
		<span *ngFor="let todo of todos">
			<!-- <mat-grid-tile *ngIf="(showCompleted || !todo.completed)" >-->
			<!-- <mat-grid-tile *ngIf="(showCompleted || !todo.completed) && (getUser(todo.userId).id==selectedID || selectedID==0)" >  -->
			<mat-grid-tile *ngIf="(todoMode=='All' || (todoMode == 'Completed' && todo.completed == true) || (todoMode == 'Open' && todo.completed == false)) && (getUser(todo.userId).id==selectedID || selectedID==0) " >
				<mat-card style="width:80%;">
					<mat-card-title>
						<span *ngIf="todo.completed"><i class="material-icons green">check_box</i> {{todo.title}} </span>
						<span *ngIf="!todo.completed"><i class="material-icons orange">check_box_outline_blank</i> {{todo.title}} </span>
					</mat-card-title>
					<mat-card-content>
						<div class="row">Name: {{getUser(todo.userId).name}}</div>
						<div class="row">Company: {{getUser(todo.userId).company.name}}</div>
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>
		</span>
	</mat-grid-list>
</div>

