.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}


.axis--x path {
    /*display: none;*/
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  
}

.label {
    fill: none;
    stroke:#444;
    font: 8px sans-serif;
}