.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}


.axis--x path {
    /*display: none;*/
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  cursor: pointer;
}

.node.fixed {
  fill: green;
  stroke: black;
  stroke-width: 5px;
}

.label {
    stroke:none;
    font: 8px sans-serif;
}

div2.tooltip {   
    position: fixed; 
    pointer-events: none;
    z-index:1500;   
    text-align: center; 
    //width: 200px;    
   // height: 28px;   
    padding: 4px; 
    color:white;
    font: 10px sans-serif;    
    background: #222; 
    border: 0px;    
    border-radius: 8px; 
    text-align:left;
    }