
<div >
  <form [formGroup]="form" (ngSubmit)="submit(form)" class="jcontainer">
    <h1 mat-dialog-title>{{modalTitle}}</h1>
    <mat-dialog-content>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
        <mat-hint>Enter your full name</mat-hint>
      </mat-form-field>
      <p>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email">
        <mat-hint>Enter your email address</mat-hint>
      </mat-form-field>
      <p>
      <mat-form-field>
        <mat-select required>
          <mat-option>-- None --</mat-option>
          <mat-option value="option">Oregon</mat-option>
          <mat-option value="option">East</mat-option>
        </mat-select>
        <mat-hint>Pick your AWS region</mat-hint>
      </mat-form-field>
      <p>
      <mat-form-field>
        <mat-select [(value)]="globals.theme">
          <mat-option>-- None --</mat-option>
          <mat-option value="default-theme">Default</mat-option>
          <mat-option value="dark-theme">Dark</mat-option>
          <mat-option value="light-theme">Light</mat-option>
        </mat-select>
        <mat-hint>Pick your theme</mat-hint>
      </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit">Add</button>
      <button mat-button type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
</div>

<!--
  <mat-form-field>
  <mat-select [(value)]="selected">
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
  -->