
<mat-sidenav-container autosize (backdropClick)="drawer.toggle()" hasBackdrop>

  <mat-sidenav #drawer class="sidenav-contents" mode="side" [(opened)]="opened">

	<mat-list>
		 <mat-list-item> 
		 	<a routerLink="" class="sidenav-links">
				<button mat-button>
					<i class="material-icons">supervised_user_circle</i> Users
				</button>
			</a> 
		 </mat-list-item>
		 <mat-list-item> 
		 	<a routerLink="posts" class="sidenav-links" >
		 		<button mat-button>
					<i class="material-icons">message</i> Posts
				</button>
			</a>
	 	 </mat-list-item>
	</mat-list>
  </mat-sidenav>
  <button type="button" mat-flat-button (click)="drawer.toggle()" color="accent">
	    	<i *ngIf="!opened" class="material-icons">chevron_right</i>
	    	<i *ngIf="opened" class="material-icons">chevron_left</i>
	    		NAVIGATION
  </button>
  <mat-sidenav-container class="drawer-contents">
      	<router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container> 