
.drawer-contents{
	margin:1rem;
}

.sidenav-contents {
	padding:0rem;
}

.topleft {
	top:0;
	left:0;
}

.sidenav-links {
	font-size: 1rem;
	text-decoration: none;
	color:darkgray;
	vertical-align: middle;
	text-align:left;
	width:100% 
}

a.sidenav-links:hover {
	color:darkgray;
	outline: 0;
    box-shadow: none!important;
}

.sidenav-links[_ngcontent-c2] {
	outline: 0;
}

.mat-nav-list {
	background: gray;
}

.active-link {
	background: gray;
}
