
.drawer-contents{
	margin:1rem;
}

.sidenav-contents {
	padding:1rem;
}

.topleft {
	top:0;
	left:0;
}

.sidenav-links {
	font-size: 1rem;
	text-decoration: none;
	color:gray;
	vertical-align: middle;
}

.sidenav-links:hover {
	color:black;
}