<mat-sidenav-container autosize hasBackdrop>

  <mat-sidenav #sidebar class="sidenav-contents" mode="over">
  	<mat-list>
		 <mat-list-item routerLinkActive="{{getBackground(globals.theme)}}"> 
		 	<a routerLink="users" class="sidenav-links" routerLinkActive="{{getBackground(globals.theme)}}" >
				<div (click)="sidebar.close()" style="display: flex;align-items: center;">
					<i class="material-icons">people</i>&nbsp; Users
				</div>
			</a> 
		 </mat-list-item>
		 <mat-list-item routerLinkActive="{{getBackground(globals.theme)}}"> 
		 	<a routerLink="posts" class="sidenav-links" routerLinkActive="{{getBackground(globals.theme)}}">
		 		<div (click)="sidebar.close()" style="display: flex;align-items: center;">
					<i class="material-icons">message</i>&nbsp; Posts
				</div>
			</a>
	 	 </mat-list-item>
	 	 <mat-list-item  routerLinkActive="{{getBackground(globals.theme)}}"> 
		 	<a routerLink="todos" class="sidenav-links" routerLinkActive="{{getBackground(globals.theme)}}">
		 		<div (click)="sidebar.close()" style="display: flex;align-items: center;">
					<i class="material-icons">list</i>&nbsp; To-Do's
				</div>
			</a>
	 	 </mat-list-item>
	 	 <mat-list-item  routerLinkActive="{{getBackground(globals.theme)}}"> 
		 	<a routerLink="graphcentral" class="sidenav-links" routerLinkActive="{{getBackground(globals.theme)}}">
		 		<div (click)="sidebar.close()" style="display: flex;align-items: center;">
					<i class="material-icons">multiline_chart</i>&nbsp; Graphs
				</div>
			</a>
	 	 </mat-list-item>
	</mat-list>
  	
  </mat-sidenav>
  <mat-sidenav-container class="drawer-contents">
      	<router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container> 
