/* You can add global styles to this file, and also import other style files */

body {
  margin: 0; 
  font-family: 'Lato', sans-serif; 
  outline: none !important;
  }

a {
	text-decoration: none;
}

//a:visited, a:link {
 // color: mat-color($accent);
//}

.green {
    color: green;
}

.orange {
    color: orange;
}

.blue {
    color: steelblue;
}



@import "./theme.scss";