<mat-grid-list cols="10" rowHeight="1:5">
	<mat-grid-tile colspan='3'>	
		<mat-card>
			<mat-card-content>
				<mat-card-title>{{globals.users[user$].name}}</mat-card-title>			
				<div class="row">Username: {{globals.users[user$].username}}</div>
				<div class="row">Email: {{globals.users[user$].email}}</div>
				<div class="row">Phone: {{globals.users[user$].phone}}</div>
				<div class="row">Website: {{globals.users[user$].website}}</div>
				<div class="row">Company: {{globals.users[user$].company?.name}}</div>
				<!-- the above messy question marks eliminates the warning about company.name not being a valid object 
					{{user.company?.name}} says ignore is the company.ame does not exist -->
				<div class="row">Street: {{globals.users[user$].address.street}}</div>
				<div class="row">Suite: {{globals.users[user$].address.suite}}</div>
				<div class="row">City: {{globals.users[user$].address.city}}, {{globals.users[user$].address.zipcode}}</div>
			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile colspan='7'>
		<mat-card>
			<mat-card-title>{{globals.users[user$].name}} is {{globals.users[user$].dist|number}} kilometers from you</mat-card-title>
			<mat-card-content>
				<agm-map #gm [latitude]="+globals.users[user$]?.address.geo.lat" [longitude]="+globals.users[user$]?.address.geo.lng" [zoom]="2">
				  <agm-marker (mouseOver)="onMouseOver(infoWindow1,gm)" [latitude]="+globals.users[user$]?.address.geo.lat" [longitude]="+globals.users[user$]?.address.geo.lng">
				  	
				  	<agm-info-window #infoWindow1>
					      <b class="infow">{{globals.users[user$].name}}</b>
					      <div class="infow">{{globals.users[user$].company.name}}</div>
					      <div class="infow">[{{globals.users[user$].address.geo.lat}}, {{globals.users[user$].address.geo.lng}}]</div>          
					</agm-info-window>

				  </agm-marker>
				  <agm-marker (mouseOver)="onMouseOver(infoWindow2,gm)" [latitude]="+globals.myinfo.lat" [longitude]="+globals.myinfo.lon">
				  	<agm-info-window #infoWindow2>
					      <b class="infow">Your location</b>
					      <div class="infow">{{globals.myinfo.city}}, {{globals.myinfo.region}}  {{globals.myinfo.countryCode}}</div>
					      <div class="infow">{{globals.myinfo.isp}}</div>
					      <div class="infow">[{{globals.myinfo.lat}}, {{globals.myinfo.lon}}]</div>
					</agm-info-window>

				  </agm-marker>

				  <agm-polyline [strokeColor]="'gray'" [strokeWeight]=2 [geodesic]=true>
				    <agm-polyline-point  
				        [latitude]="+globals.users[user$].address?.geo.lat"
				        [longitude]="+globals.users[user$].address?.geo.lng">
				    </agm-polyline-point>
				    <agm-polyline-point  
				        [latitude]="+globals.myinfo.lat"
				        [longitude]="+globals.myinfo.lon">
				    </agm-polyline-point>
				</agm-polyline>


				</agm-map>
			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>
